<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.meumeu.wivrn"
    android:installLocation="auto">

    <!-- Tell the system this app works in either 3dof or 6dof mode -->
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" android:version="1" />

    <!-- Allow starting the application even without controllers -->
    <uses-feature android:name="oculus.software.handtracking" android:required="false" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />

    <!-- Required for XR_FB_render_model -->
    <uses-feature android:name="com.oculus.feature.RENDER_MODEL" android:required="false" />
    <uses-permission android:name="com.oculus.permission.RENDER_MODEL" />

    <uses-sdk android:minSdkVersion="29" />

    <!-- If building externally with the OpenXR AAR, this would be merged in automatically. -->
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR" />
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM" />

    <!-- Allow network access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries tools:ignore="ExportedContentProvider">
        <provider android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker" />
    </queries>


    <application
        android:allowBackup="true"
        android:hasCode="false"
        android:icon="@mipmap/ic_wivrn_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wivrn_launcher">

    <profileable android:shell="true" />
        <meta-data android:name="com.oculus.intent.category.VR" android:value="vr_only"/>
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest|quest2|cambria"/>

        <!-- The activity is the built-in NativeActivity framework class. -->
        <!-- launchMode is set to singleTask because there should never be multiple copies of the app running. -->
        <!-- Theme.Black.NoTitleBar.Fullscreen gives solid black instead of a (bad stereoscopic) gradient on app transition. -->
        <activity
            android:exported="true"
            android:name="android.app.NativeActivity"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode|density"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            tools:ignore="NonResizeableActivity">

            <!-- Tell NativeActivity the name of the .so -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="wivrn" />


            <!-- This filter lets the apk show up as a launchable icon. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
            </intent-filter>
        </activity>
    </application>
</manifest>
