name: Format
on: [push, pull_request]
jobs:
  formatting-check:
    name: Formatting check
    runs-on: ubuntu-latest
    if: ${{ vars.APK_ONLY == '' }}
    strategy:
      fail-fast: false
      matrix:
        path:
          - 'client'
          - 'server'
          - 'common'
          - 'tools/wireshark'
    steps:
    - uses: actions/checkout@v4
    - name: Run clang-format style check for C/C++/Protobuf programs.
      uses: jidicula/clang-format-action@v4.13.0
      with:
        clang-format-version: '18'
        check-path: ${{ matrix.path }}
